@import "tailwindcss";
*, *::before, *::after {
  box-sizing: border-box;
  /* padding: 0;
  margin: 0; */
}

img {
  width: 100%;
}



@layer components {
  .nav-btn {
    div {
      height: 2px;
      width: 100%;
      background-color: black;
      position: relative;
      transition: all 150ms ease-in-out;
    }

    div.active {
      &::before,
      &::after {
        top: 0;
        rotate: -90deg;
        translate: (0 50%);
        right: 0;
      }
      &::after {
        opacity: 0;
      }
      & {
        rotate: 45deg;
      }
    }

    div::before,
    div::after {
      content: "";
      height: 2px;
      right: 0;
      left: 0;
      position: absolute;
      top: -7px;
      background-color: black;
      transition: 150ms ease-in-out;
    }

    div::after {
      top: +7px;
    }
  }

  .carousel {
    &::-webkit-scrollbar {
      display: none;
    }


    scroll-snap-type: x mandatory;
    
    img {
      scroll-snap-align: start;
      scroll-snap-stop: always;
      aspect-ratio: 1/1.5;
      object-fit: cover;
      }

  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #170d05;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
